body {
  font: 14px sans-serif;
  margin: 20px;
  text-align: center;
}

ol, ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 5px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-row {
  min-width: 150px;
}

.game-status {
  display: block;
  padding: 20px;
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square.winner {
  color: green;
}

.square:hover {
  cursor: pointer;
  background-color: crimson;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-info {
  padding: 20px;
}

.game-board {
  display: inline-block;
  padding: 10px;
}

